{% extends "estagiario/base_estagiario.html" %}
{% block title %} Estagiario {% endblock %}
{% block path %} Estagiario {% endblock %}

{% block estagiario_content %}
    <div class="container flex-grow-1 container-p-y pb-4">

        <div class="media align-items-center py-3 mb-1">
            <img src="/static/img/generic-user-purple-4.png" alt=""
                 class="d-block ui-w-100 rounded-circle">
            <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0">{{ paciente.nome }}<span
                        class="text-muted font-weight-normal"> - {{ paciente.nomeSocial }} (Social)</span>
                </h4>
                <div class="text-muted mb-1">ID: {{ paciente.id }}</div>
            </div>
        </div>


        <div class="card ">

            <hr class="border-light m-0">
            <div class="card-body">

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{ paciente.nome }} {{ paciente.sobrenome }}</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ paciente.email }}</td>
                    </tr>
                    <tr>
                        <td>Data de Nascimento:</td>
                        <td>{{ paciente.dataNascimento.strftime("%d/%m/%Y") }}</td>
                    </tr>
                    </tbody>
                </table>


                <h6 class="mt-4 mb-3">Detalhes</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Genero:</td>
                        <td>{{ paciente.genero }}</td>
                    </tr>
                    <tr>
                        <td>Estado Civil:</td>
                        <td>{{ paciente.estadoCivil }}</td>
                    </tr>
                    <tr>
                        <td>Etinia Racial:</td>
                        <td>{{ paciente.etniaRacial }}</td>
                    </tr>
                    </tbody>
                </table>

                <h6 class="mt-4 mb-3">Contato</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    {% for tele in paciente.telefone %}
                        <tr>
                            <td>Phone ({{ tele.tipo }}):</td>
                            <td>{{ tele.telefone }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h6 class="mt-4 mb-3">Endereço</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Rua:</td>
                        <td>{{ paciente.endereco.rua }}
                        </td>
                    </tr>
                    <tr>
                        <td>Cidade:</td>
                        <td>{{ paciente.endereco.cidade }}</td>
                    </tr>
                    <tr>
                        <td>Bairro:</td>
                        <td>{{ paciente.endereco.bairro }}</td>
                    </tr>
                    <tr>
                        <td>CEP:</td>
                        <td>{{ paciente.endereco.cep }}</td>
                    </tr>
                    </tbody>
                </table>

                {% if paciente.isMenorIdade %}
                    <h6 class="mt-4 mb-3">Responsavéis</h6>

                    <table class="table user-view-table m-0">
                        <tbody>
                        <tr>
                            <td>Relação:</td>
                            <td>{{ paciente.relacaoRepresentante }}
                            </td>
                        </tr>
                        <tr>
                            <td>Nome do Representande:</td>
                            <td>{{ paciente.representanteNome }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    </div>


{% endblock %}