{% extends "estagiario/base_estagiario.html" %}
{% block title %} Estagiario {% endblock %}
{% block path %} Estagiario {% endblock %}

{% block estagiario_content %}
    <div class="container" style="min-height: 80vh">
        <div class="row">
            <div class="mb-2 pt-2 text-start">
                <h2>Novo Agendamento</h2>
            </div>
        </div>
        <div class="row g-5">

            <form class="needs-validation" novalidate method="POST">
                <div class="row mx-5 g-3">
                    <div class="col-md-6">
                        <label for="paciente" class="form-label">Paciente</label>
                        <select class="form-select" id="paciente" name="paciente" required>
                            <option value="teste" disabled>Teste....</option>
                            {% for paciente in pacientes %}
                                <option value="{{ paciente.email }}"
                                        {% if paciente.email == agendamento.paciente.email %} selected=""{% endif %}>
                                    {{ paciente.nome }} | {{ paciente.nomeSocial }} ( {{ paciente.email }} )
                                </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Favor informe o paciente.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="email" class="form-label">Estagiario</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="email" id="email" placeholder="aluno"
                                   value="{{ estagiario.email }}"
                                   required disabled>
                            <div class="invalid-feedback">
                                Favor informar seu email USCS.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="sala" class="form-label">Local</label>
                        <select class="form-select" id="sala" name="sala" required>
                            <option disabled value="">Selecione o local...</option>
                            {% for sala in salas %}
                                <option value="{{ sala.id }}"
                                    {% if sala.id == agendamento.sala.id %} selected=""{% endif %}>
                                    {{ sala.nome }} | {{ sala.local }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Favor informe o paciente.
                        </div>
                    </div>


                    <div class="col">
                        <label for="data_consulta" class="form-label">Data Consulta</label>
                        <input type="text" class="form-control" id="data_consulta" name="data_consulta" placeholder=""
                               value="{{ agendamento.inicioAgendamento.strftime("%d/%m/%Y") }}"
                               data-inputmask-regex="(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/(\d{4})" required>
                        <div class="invalid-feedback">
                            Favor informar a data da consulta.
                        </div>
                    </div>


                    <div class="col">
                        <label for="horario_consulta" class="form-label">Horario Consulta</label>
                        <input type="text" class="form-control" id="horario_consulta" name="horario_consulta" placeholder=""
                               value="{{ agendamento.inicioAgendamento.strftime("%H/%M") }}"
                               data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required>
                        <div class="invalid-feedback">
                            Favor informar o horario da consulta.
                        </div>
                    </div>
                    <div class="col">
                        <label for="duracao" class="form-label">Duração (minutos)</label>
                        <input type="number" class="form-control" id="duracao" name="duracao"
                               value="30" min="15" required>
                    </div>

                </div>
                <hr class="my-4">
                <p class="h4">Horarios de trabalho do estagiario</p>
                {% for dia in dias_estagio %}
                    <div class="col-3">
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-3 d-flex flex-column justify-content-center text-bg-dark text-center">
                                    <span class="h4 text-white align-middle">{{ dia.dia_semana }}</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        das   <span class="h5">{{ dia.inico }}</span> às <span class="h5">{{ dia.fim }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-4">
                <div class="d-grid gap-5 d-md-flex justify-content-md-end">
                    <button class="w-25 btn btn-primary me-md-2" name="save" value="save" type="submit">Salvar</button>
                    <button class="w-25 btn btn-danger" name="cancel" value="cancel" type="submit">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}