{% extends "estagiario/base_estagiario.html" %}
{% block title %} Estagiario {% endblock %}
{% block path %} Estagiario {% endblock %}

{% block estagiario_content %}
    <div class="container">
        <div class="row">
            <div class="mb-2 pt-2 text-start">
                <h2>Perfil Estagiario {{ '| ' + estagiario.nome if estagiario }}</h2>
            </div>
            <h4 class="mb-2">Dados Pessoais</h4>
        </div>
        <div class="row g-5">

            <form class="needs-validation" novalidate method="POST">
                <div class="row mx-5 g-3">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder=""
                               value="{{ estagiario.nome }}" required>
                        <div class="invalid-feedback">
                            Favor informar seu nome.
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" name="sobrenome" id="sobrenome" placeholder=""
                               value="{{ estagiario.sobrenome }}" required>
                        <div class="invalid-feedback">
                            Favor informar seu sobrenome.
                        </div>
                    </div>


                    <div class="col-6">
                        <label for="email" class="form-label">E-mail USCS</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="email" id="email" placeholder="aluno"
                                   value="{{ estagiario.email.split('@')[0] }}"
                                   required disabled>
                            <span class="input-group-text" id="dominio-uscs">@uscsonline.com.br</span>
                            <div class="invalid-feedback">
                                Favor informar seu email USCS.
                            </div>
                        </div>
                    </div>

                    <!-- Campo de senha
                    <div class="col-6">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="*******" value="" required>
                        <div class="invalid-feedback">
                            Favor sua senha.
                        </div>
                    </div> -->

                    <div class="col-3">
                        <label for="rs_uscs" class="form-label">RA-USCS</label>
                        <input type="text" class="form-control" id="rs_uscs" name="ra_uscs" placeholder=""
                               value="{{ estagiario.ra }}"
                               data-inputmask="'mask': '999999-9'" required>
                        <div class="invalid-feedback">
                            Favor informar seu RA USCS.
                        </div>
                    </div>

                    <div class="col">
                        <label for="turno" class="form-label">Periodo</label>
                        <select class="form-select" id="turno" name="turno" required>
                            <option disabled value="" {{ selected if not estagiario.turno }}>Selecione seu turno...
                            </option>
                            <option value="noturno" {{ selected if estagiario.turno == 'noturno' }}>Noturno</option>
                            <option value="matutino" {{ selected if estagiario.turno == 'matutino' }}>Matutino</option>
                            <option value="vespertino" {{ selected if estagiario.turno == 'vespertino' }}>Vespertino
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Favor seu Periodo.
                        </div>
                    </div>

                    <div class="col-3">
                        <label for="turma" class="form-label">Turma</label>
                        <input type="text" class="form-control" id="turma" name="turma"
                               value="{{ estagiario.turma }}" required>
                        <div class="invalid-feedback">
                            Favor informar sua turma
                        </div>
                    </div>
                    <div class="col-3 ">
                        <label for="semestre" class="form-label">Semestre</label>
                        <input type="number" class="form-control" id="semestre" name="semestre"
                               value="{{ estagiario.semestre | default(1,true) }}" min="1" max="10" required>
                    </div>
                </div>
                <hr class="my-4">


                <!-- Dias e horarios de estagio -->
                <div class="row mx-5 g-3">
                    <h4 class="mb-3">Dias e Horarios de estagio</h4>
                    <!-- Segunda-Feira -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control" name="cb_segunda" type="checkbox"
                                       role="switch"
                                       id="segunda-feira" {% if segunda != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="segunda-feira">Segunda-Feira</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="segunda-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control segunda-feira"
                                       name="segunda_inicio"
                                       id="segunda-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="segunda-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Segunda' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="segunda-fim-icon"><i class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control segunda-feira"
                                       name="segunda_fim"
                                       id="segunda-fim"
                                       placeholder="Fim"
                                       aria-label="Fim" aria-describedby="segunda-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Segunda' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>

                    </div>

                    <!-- Terça-Feira -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control"
                                       name="cb_terca" type="checkbox" role="switch"
                                       id="terca-feira"
                                        {% if terca != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="terca-feira">Terça-Feira</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="terca-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control terca-feira"
                                       name="terca_inicio"
                                       id="terca-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="terca-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Terça' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="terca-fim-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control terca-feira"
                                       name="terca_fim"
                                       id="terca-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="terca-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Terça' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                    </div>

                    <!-- Quarta-Feira -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control"
                                       name="cb_quarta" type="checkbox" role="switch"
                                       id="quarta-feira" {% if quarta != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="quarta-feira">Quarta-Feira</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="quarta-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control quarta-feira"
                                       name="quarta_inicio"
                                       id="quarta-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="quarta-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Quarta' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="quarta-fim-icon"><i class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control quarta-feira"
                                       name="quarta_fim"
                                       id="quarta-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="quarta-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Quarta' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                    </div>

                    <!-- Quinta-Feira -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control" name="cb_quinta" type="checkbox"
                                       role="switch"
                                       id="quinta-feira" {% if quinta != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="quinta-feira">Quinta-Feira</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="quinta-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control quinta-feira"
                                       name="quinta_inicio"
                                       id="quinta-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="quinta-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Quinta' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="quinta-fim-icon"><i class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control quinta-feira"
                                       name="quinta_fim"
                                       id="quinta-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="quinta-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Quinta' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                    </div>

                    <!-- Sexta-Feira -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control" name="cb_sexta" type="checkbox"
                                       role="switch"
                                       id="sexta-feira" {% if sexta != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="sexta-feira">Sexta-Feira</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sexta-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control sexta-feira"
                                       name="sexta_inicio"
                                       id="sexta-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="sexta-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Sexta' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sexta-fim-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control sexta-feira"
                                       name="sexta_fim"
                                       id="sexta-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="sexta-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Sexta' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                    </div>

                    <!-- Sabado -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control" name="cb_sabado" type="checkbox"
                                       role="switch"
                                       id="sabado" {% if sabado != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="sabado">Sabado</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sabado-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control sabado"
                                       name="sabado_inicio"
                                       id="sabado-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="sabado-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Sabado' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sabado-fim-icon"><i class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control  dia-semana-input-control sabado"
                                       name="sabado_fim"
                                       id="sabado-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="sabado-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Sabado' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %} >
                            </div>
                        </div>
                    </div>

                    <!-- Domingo -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input dia-semana-control" name="cb_domingo" type="checkbox"
                                       role="switch"
                                       id="domingo" {% if domingo != None %} checked="" {% endif %}>
                                <label class="form-check-label" for="domingo">Domingo</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="domingo-inicio-icon"><i
                                        class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control domingo"
                                       name="domingo_inicio"
                                       id="domingo-inicio" placeholder="Inicio"
                                       aria-label="Inicio" aria-describedby="domingo-inicio"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Domingo' %}
                                       value="{{ horario.horarioInicio }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="domingo-fim-icon"><i class="fa-regular fa-clock"></i></span>
                                <input type="text" class="form-control dia-semana-input-control domingo"
                                       name="domingo_fim"
                                       id="domingo-fim" placeholder="Fim"
                                       aria-label="Fim" aria-describedby="domingo-fim"
                                       data-inputmask-regex="([0-1][0-9]|2[0-3]):[0-5][0-9]" required
                                        {% for horario in estagiario.horariosTrabalho %}
                                            {% if horario.diaSemana == 'Domingo' %}
                                       value="{{ horario.horarioFim }}"
                                            {% endif %}
                                        {% endfor %}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-5 d-md-flex justify-content-md-end">
                    <button class="w-25 btn btn-primary me-md-2" type="submit">Salvar</button>
                    <button class="w-25 btn btn-danger" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- </div>
{% endblock %}